/* body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 30px 100px;
}

ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

span{
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
} */
      body {
            margin: 0;
            padding: 0;
            font-family: 'Times New Roman', Times, serif, sans-serif;
        }

        /* ENTÊTE */
        .entete {
            background-color: black;
            color: white;
            padding: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .menu ul {
            list-style: none;
            display: flex;
            gap: 20px;
        }

        .menu a {
            color: white;
            text-decoration: none;
        }
        span{
            color: goldenrod;
        }

        /* ACCUEIL */
        .accueil {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 30px;
        }

        .texte-accueil {
            width: 40%;
        }

        .bouton {
            padding: 10px 20px;
            background-color: #00d4c6;
            color: white;
            border: none;
            margin-top: 15px;
        }

        /* PROJETS */
        .projets {
            text-align: center;
            padding: 40px;
        }

        .liste-projets {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
            border: #00d4c6;

        }

        .carte-projet {
            background-color: #f0f0f0;
            padding: 20px;
            width: 250px;
            border-radius: 8px;
        }

        /* COMPÉTENCES */
        .competences {
            text-align: center;
            padding: 40px;
            background-color: #f5f5f5;
        }

        .bloc-competences {
            display: flex;
            justify-content: center;
            gap: 40px;
            margin-top: 20px;
        }

        .box {
            background: white;
            padding: 40px;
            width: 250px;
            border-radius: 8px;
        }

        .barre {
            height: 6px;
            background: #ddd;
            margin: 8px 0;
        }

        .remplissage {
            height: 6px;
            background: #00d4c6;
        }

        /* CONTACT */
        .contact {
            background-color: black;
            color: white;
            padding: 40px;
            text-align: center;
        }

        .formulaire {
            width: 60%;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .formulaire input,
        .formulaire textarea {
            padding: 10px;
            width: 100%;
            border: none;
            border-radius: 4px;
        }

        /* PIED DE PAGE */
        footer {
            background: #111;
            color: #ccc;
            text-align: center;
            padding: 15px;
        }